* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
  user-select: none;
}

#app a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

#app .btn-default[disabled] {
  background-color: #f4f4f4;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* 去除number类型input的上下箭头 */
input[type=number] {  
  -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
  -webkit-appearance: none;  
  margin: 0;  
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #31c77f;
  -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #31c77f;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  height: 0;
}


/* default-grey-mask */
.default-grey-mask {
  color: #ddd !important;
  border-radius: 5px;
  background-color: #ddd !important;
}