@font-face {
  font-family: "iconfont"; /* Project id 2669789 */
  src: url('iconfont.woff2?t=1626336191143') format('woff2'),
       url('iconfont.woff?t=1626336191143') format('woff'),
       url('iconfont.ttf?t=1626336191143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playlist-play:before {
  content: "\e901";
}

.icon-baseline-close-px:before {
  content: "\e615";
}

.icon-right:before {
  content: "\e65c";
}

.icon-time-lapse:before {
  content: "\e602";
}

.icon-ethereum:before {
  content: "\eb8a";
}

.icon-star:before {
  content: "\e60e";
}

.icon-add:before {
  content: "\e6fd";
}

.icon-chart:before {
  content: "\e601";
}

.icon-list:before {
  content: "\e8a4";
}

.icon-warning:before {
  content: "\e8da";
}

.icon-lock:before {
  content: "\e611";
}

.icon-search:before {
  content: "\e7ea";
}

.icon-menu:before {
  content: "\e62e";
}

.icon-edit:before {
  content: "\e62a";
}

.icon-visit:before {
  content: "\e65a";
}

.icon-more:before {
  content: "\e65b";
}

.icon-twitter:before {
  content: "\e8a8";
}

.icon-medium:before {
  content: "\eb7b";
}

.icon-telegram:before {
  content: "\eaf9";
}

.icon-img:before {
  content: "\e61b";
}

.icon-discord:before {
  content: "\eb7a";
}

.icon-GitHub:before {
  content: "\e600";
}

